In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.random.rand(5,3),columns=['a','b','c'])

#### 1- Get max and min value index in a col

In [ ]:
df['a'].idxmax()
df['c'].idxmin()

#### 2- Iterate over the rows of a df

In [ ]:
[row for index,row in df.iterrows()]

#### 3- apply

In [ ]:
#using apply inplace
df.apply(np.mean,axis=0) #elementwise + axis can be given for apply()
df.apply(np.sqrt) #but apply function works on entire dataframe without lambda function
df['a'].apply(lambda x: x**2 if x>2 else x) #lambda function can only work with series object, hence this deosnt work on entire df


#use applymap for elementwise for entire dataframe
df.applymap(lambda x: x^2 if x>3 else x) #if lambda works for entire df with applymap function


df=df.apply(np.mean,axis=0) #using apply inplace, or use lambda function

#### 4- map, filter,reduce

In [ ]:
#filter removes the false 0 output and only passes through the 1 output

tuple(filter(lambda x:x+1 if x>0 else 0,range(-5,9)))

In [ ]:
#reduce - works cumulatively. Func takes 2 args, either 
#1st & 2nd element of the iterator or the optional 'initial' value and the 1st element...and so on
#result gets reduced to a single value

from functools import reduce

numbers = [3, 4, 6, 9, 34, 12]

def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers, 10)#10 is the initial default value, result = 78
result = reduce(custom_sum, numbers)#result = 68
print(result)

#### 5- merge

In [ ]:
df1 = pd.DataFrame({'a':[3,4,5,6],'b':[3,4,53,6],'c':[31,45,25,64]})
df2 = pd.DataFrame({'a1':[3,42,53,6],'b1':[3,4,563,6],'c1':[31,435,245,64]})
df1.merge(df2, left_on='a',right_on='a1', how='left')

#### 6- pivot, melt, concat

In [ ]:
df1 = pd.DataFrame({'a':['aa','bb','cc','dd'],'b':[3,4,53,6],'c':[31,45,25,64]})

In [ ]:
#spread rows into col
pd.pivot_table(df1 ,columns=df1['a'])

In [ ]:
#gather columns into rows, selective melt - melt all col except id_vars
pd.melt(df1,id_vars=['a','b'],var_name='new_col_name',value_name='new_value_col_name')#rename in the melt code itself, instead of writing 1 more line

In [ ]:
#row wise + col wise concat
df0 = pd.concat([df1,df2],axis=0)
df = pd.concat([df1,df2],axis=1)

#### 7- drop_duplicates, dropna

In [ ]:
#drop_duplicates- Delete Duplicate Emails
df=pd.DataFrame({'email':['aa@f','aa@f','ccaa@f','ddaa@f'],'b':[4,3,53,6],'c':[31,45,25,64]})
df.sort_values(by='b',inplace=True) # "inplace" saves space
df.drop_duplicates(subset='email',keep='first',inplace=True)

In [ ]:
#df.dropna
df=pd.DataFrame({'email':['aa@f','aa@f','ccaa@f','ddaa@f'],'b':[4,None,53,6],'c':[31,45,25,64]})
df.dropna()

#### 8-groupby, sort

In [ ]:
data = pd.DataFrame({"A": [1, 1, 2, 2],
        "B": [1, 2, 3, 4],
        "C": [0.362838, 0.227877, 1.267767, -0.562860]})

In [52]:
#using agg for multiple agg func

data.groupby('A').agg({'B':['mean','median'],'C':['min','max']}).reset_index(drop=True)
data.groupby('A').agg(lambda x:x.mean())

     B         C
A
1  1.5  0.295357
2  3.5  0.352454

In [64]:
emp = pd.DataFrame({'name':['aa','bb','cc','dd','ee','ff'],'sal':[3000,48803,5038933,6084,454643,252111],'dep':['dep1','dep2','dep3','dep1','dep2','dep3']})
dep = pd.DataFrame({'id':[31,34,50],'name':['dep1','dep2','dep3']})

#list emp names with max salary and dep

#brute force
df = emp.groupby('dep').apply(lambda x: x[x['sal']==x['sal'].max()]).reset_index(drop=True)
df=pd.merge(df,dep,left_on='dep',right_on='name',suffixes=('_emp','_dep'))[['name_emp','sal','dep']]
df.columns=['name','sal','dep']

In [ ]:
max_salaries = employee.groupby("departmentId")["salary"].rank("dense",ascending = False)
department = department.set_index("id")
employee["Department"] = department.loc[employee.departmentId.to_list()].reset_index()["name"]
employee[max_salaries == 1][["Department","name","salary"]].rename(columns = {"name":"Employee","salary":"Salary"})

In [67]:
#using rank
emp.groupby('dep')['sal'].rank('dense',ascending=False,na_option='bottom')
#dep=dep.set_index('id')#emp['dep']=
#dep.loc[emp.dep.to_list()].reset_index()

0    2.0
1    2.0
2    1.0
3    1.0
4    1.0
5    2.0
Name: sal, dtype: float64

In [ ]:
#sort values
df.sort_values(by='b')

In [123]:
#nth highest salary

employee=pd.DataFrame({'id':[2,3,5,4,1],'salary':[3443,3443,1311,23,234]})
#employee=pd.DataFrame({'id':[2,3,4,1],'salary':[23,23,23,23]})

def nth_highest_salary(employee: pd.DataFrame,N:int) -> pd.DataFrame:
    employee.drop_duplicates(subset='salary',inplace=True)
    if employee.shape[0]>N-1:
        df= pd.DataFrame(employee.nlargest(N,'salary')[['salary']][::-1].iloc[0,:])
        df.columns=['nthHighestSalary']
        return df
    else:
        return pd.DataFrame({'nthHighestSalary':[None]})
    

def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    df=employee.sort_values(by='salary',ascending=False).drop_duplicates(subset='salary')
    if df.shape[0]>1:
        df= pd.DataFrame(df[['salary']].iloc[1,:])
        df.columns=['2ndhighestsalary']
        return df
    else:
        return pd.DataFrame({'2ndhighestsalary':[None]})
    
          
second_highest_salary(employee,4)

        nthHighestSalary
salary                23

In [125]:
#number of rich customers, num of customers with atleast spend > 500 

store=pd.DataFrame({'billid':[2,3,5,4,1],'custid':[22,33,33,42,11],'amount':[3443,3443,1311,23,234]})

def rich(store:pd.DataFrame)->pd.DataFrame():
    uniqC = pd.DataFrame(store.groupby('custid')['amount'].max().reset_index(drop=True))
    cnt=uniqC[uniqC['amount']>500].shape[0]
    return pd.DataFrame({'rich_cust':[cnt]})
rich(store)

   rich_cust
0          2